{% extends 'base.html' %}
{% block content %}

<h1>Plant List</h1>

<div class="card">      
    <div class="card-content">
        <span class="card-title">{{ plant.name }}</span>
        <p>Sun Intake: {{ plant.sun }}</p>
        <p>Water Intake: {{ plant.water }}</p>
        <p>Soil: {{ plant.soil }}</p>
        <p>Color: {{ plant.color }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'plant_update' plant.id %}">Edit</a>
        <a href="{% url 'plant_delete' plant.id %}">Delete</a>
    </div>
</div>

{% endblock %}